body {
	font-family: 'Hind Siliguri';
	letter-spacing: 1px;
	
	text-align: center;
	}

h1 {
	color: #14279B;
	font-size: 25px;
	font-family: 'Hind Siliguri';
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	color: #FF7777;
	font-size: 20px;
	font-family: 'Hind Siliguri';
	text-align: center;
}
p {
	text-align: center;
	color: #5C3D2E;
	text-justify:  justify;	
	padding-bottom: 10px;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #F0A500;
	font-weight: bolder;
	font-size: 15px;
}

a:hover {
	color: #FF7777;
}

#img {
	border: 3px solid #69c8b1;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.card-title {
	background-color: white;
    margin: 20px 40px;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.1);
    font-size: 15px;
}

.card-contact {
	background-color: white;
    margin: 20px 40px;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.1);
    font-size: 15px;
}

.card-formations {
	background-color: white;
    margin: 20px 40px;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.1); 
    font-size: 15px;
}

.card-experiences {
	background-color: white;
	border-radius: 4px;
	margin: 20px 40px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(180, 151, 214, 0.3);
    font-size: 15px;
}

.card-competences {
	background-color: white;
	border-radius: 4px;
	margin: 20px 40px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(180, 151, 214, 0.3);
    font-size: 15px;
}

.card-interets {
	background-color: white;
	border-radius: 4px;
	margin: 20px 40px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(180, 151, 214, 0.3);
    font-size: 15px;
}

.linkedin {
	font-size: 60px;
}